.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.heading:hover {
    cursor: none;
}

body {
    background-size: cover;
    background-position: center;
    background-image: url(http://postimg.cc/7b9CJDdf);
}

canvas {
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin-top: 15px;
}

canvas:hover {
    cursor: none;
}